/*MENSAJES ALERT*/
.errorlist{
    list-style-type: none;
}
.errorlist li:first-letter{
    text-transform: uppercase;
}
.errorlist:last-child{
    list-style-type: square;
}

/*HELP*/
.helpnav{
    margin-left:10px;
}

.modal-header svg{
    margin-right:5px;
}

/*PAGINADOR*/
.paginador{
    height: 18px;
}
.paginador li { 
    display: inline-block; 
}

/*NAVEGADOR BORDE IDENTIFICADOR*/
.borOrden{
    border-bottom:1px solid #0AB39C;
}
.borSeguimiento{
    border-bottom:1px solid #F7B84B;
}
.borSeguimientoSubNav{
    background-color: #FEF4E4;
}

.borAvance{
    border-bottom:1px solid #299CDB;
}
.borAvanceSubNav{
    background-color: #CAE7F7;
}

.subNav{
    height: 30px;
}

