{% extends 'index.html' %} {% load static %} 
{% block title %} Modificar Orden {% endblock %}

{% block content %}
<!-- NAVEGADOR -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Modificar Orden</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'orden_listar' %}">Control</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'orden_listar' %}">Listado de Ordenes</a></li>
                    <li class="breadcrumb-item active">Modificar Orden</li>
                    <li class="helpnav">
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#top-rightmodal-ayuda" title="Ayuda">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        </a>
                    </li>
                </ol>
            </div>            
        </div>
    </div>
</div>

<!-- VENTANAS MODALES -->
<!-- FORMULARIO -->
<div class="row">
    <div class="col-xxl-6">
        <div class="card">            

            <div class="card-body">
                <!-- <p class="text-muted"></p> -->
                <div class="live-preview">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            {% csrf_token %}
                            {% include 'includes/alerts.html' %}

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="firstNameinput" class="form-label">Nombre</label>
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="lastNameinput" class="form-label">Descripción</label>
                                    {{ form.descripcion }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="form-check form-switch form-switch-custom form-switch-danger">
                                        <input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck13">
                                        {{ form.prioridad }}
                                        <label class="form-check-label" for="SwitchCheck13">Esta orden es de Alta Prioridad?</label>
                                    </div>
                                </div>
                            </div>

                            <!--BOTONES -->
                            <div class="col-lg-12">
                                <div class="text-muted" style="float: left;">
                                    <a href="{% url 'orden_listar' %}" class="btn btn-success">Volver</a>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>







<!-- <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h2>Modificar Orden</h2>
        <div class="card">
            <div class="card-body">
        
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
        
                    {{ form }}

                    <div class="d-flex justify-content-center">        
                        <input type="submit" value="Modificar" />
                    </div>
                </form>
                {{ mensaje }}
            </div>
        </div>
    </div>
</div> -->

<!-- VENTANAS MODALES -->
<div id="top-rightmodal-ayuda" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-right">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                    <h5 class="modal-title" id="myModalLabel"> Ayuda</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="fs-15">
                        Agregar orden
                    </h5>
                    <p class="text-muted">Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
                    <p class="text-muted">Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
                    <p class="text-muted">Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal-dialog -->
</div>

{% endblock %}