{% extends 'index.html' %} {% load static %} 
{% block title %} {{ pageAccion }} de {{ pageTituloPlu }} {% endblock %}

{% block content %}

<!-- NAVEGADOR -->
<div class="row" >
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between borOrden">
            <h4 class="mb-sm-0">{{ pageAccion }} de {{ pageTituloPlu }}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Control</li>
                    <li class="breadcrumb-item active">{{ pageAccion }} de {{ pageTituloPlu }}</li>
                    <li class="helpnav">
                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#top-rightmodal-ayuda" title="Ayuda">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        </a>
                    </li>
                </ol>
            </div>            
        </div>
    </div>
</div>
<!-- END NAVEGADOR -->

<!-- LIST -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <a href="{% url 'orden_agregar' %}" class="btn btn-success add-btn">
                                    <i class="ri-add-line align-bottom me-1"></i> Agregar {{ pageTitulo }}
                                </a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Buscar...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" data-sort="customer_name"># ID</th>
                                    <th class="sort" data-sort="customer_name">Nombre</th>
                                    <th class="sort" data-sort="email">Descripción</th> 
                                    <th class="sort" data-sort="date">Alta Prioridad?</th>
                                    <th class="sort" data-sort="date">Estado</th>
                                    <th class="sort" data-sort="date">Fecha ingreso</th>
                                    <th class="sort" data-sort="action">Acciones</th>
                                    </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                {% for o in entity %}
                                <tr>
                                    <th scope="row">{{ o.id }}</th>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                    <td class="customer_name">{{ o.nombre | title}}</td>
                                    <td class="email">
                                        {{ o.descripcion | title | slice:":30" }}
                                        {% if o.descripcion|length > 30 %}
                                            ...
                                        {% endif %}

                                    </td>
                                    <td class="status">
                                        {% if o.prioridad %}
                                            <i class="ri-checkbox-circle-line align-middle text-success"></i>
                                        {% else %}
                                            <i class="ri-close-circle-line align-middle text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td class="status"><span class="badge badge-soft-success text-uppercase">Activo</span></td>
                                    <td class="date">{{ o.fecha_creacion | date:"d/m/Y H:i" }}</td>
                                    <td>
                                        <div class="d-flex gap-2 float-end">
                                            <div class="edit">
                                                <a href="{% url 'seguimiento_listar' o.id %}" class="btn btn-sm btn-warning edit-item-btn">Seguimiento</a>
                                            </div>
                                            <div class="edit">
                                                <a href="{% url 'orden_modificar' o.id %}" class="btn btn-sm btn-success edit-item-btn">Modificar</a>
                                            </div>
                                            <div class="remove">
                                                <a href="{% url 'orden_eliminar' o.id %}" class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" onclick="return alertConfirmacion(event, 'esta orden')">Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                    colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Lo sentimos!</h5>
                                <p class="text-muted mb-0">No se encontraron resultados</p>
                            </div>
                        </div>
                    </div>

                    <div class="row g-4 mb-0">
                        <div class="col-sm">
                            <div style="color:#69747E;padding-top:6px"> Mostrando {{ filaInicio }} a {{ filaFin }} de {{ totalFilas }} filas </div>
                        </div>
                        <div class="col-sm-auto">
                            <!-- PAGINATOR=================================================================== -->
                            {% include 'includes/paginator.html' %}
                            <!-- END PAGINATOR=================================================================== -->
                        </div>
                    </div>                    
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- END LIST -->

 <!-- MODAL AYUDA =================================================================== -->
 {% include 'includes/modal_ayuda.html' %}


{% endblock %}

