{% if pageAccion  == 'Listado' %}
    <p class="text-muted">Listado Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">Listado Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">ListadoComience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>

{% elif pageAccion  == 'Agregar' %}
    <p class="text-muted">agregar Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">agregar Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">agregarComience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>

{% elif pageAccion  == 'Modificar' %}
    <p class="text-muted">Modificar Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">Modificar Comience el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>
    <p class="text-muted">Modificar el proceso agregando una orden, en esta posteriormente se podra agregar y crear seguimientos y asignar a las areas correspondientes.</p>

{% endif %}



